<?xml version="1.0" encoding='utf-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property> <!-- BD Mane -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">123ewq</property> <!-- DB Password -->

        <property name="hibernate.hibernate.hbm2ddl.auto">none</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property> <!-- DB Dialect -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <property name="use_sql_comments">true</property>



        <mapping class="com.innowisegroup.messenger.model.User"/>
        <mapping class="com.innowisegroup.messenger.model.Message"/>

    </session-factory>
    
    
</hibernate-configuration>